@page "/users"
@using SharpForms.Common.Enums
<style>
    .table th:last-child,
    .table td:last-child {
        text-align: right;
        white-space: nowrap;
    }
</style>

<h3>User List</h3>

<div>
    <InputText @bind-Value="SearchQuery" class="search-bar" placeholder="Search users..." />
    <button class="btn btn-primary" @onclick="SearchUsers">Search</button>
    <NavLink class="btn btn-success" href="/users/create">Create User</NavLink>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Users.Any())

        {
            @foreach (var user in Users)

            {
                <tr>
                    <td>
                        <img src="@user.PhotoUrl" alt="No image" style="width: 50px; height: 50px; border-radius: 50%;" />
                    </td>
                    <td>@user.Name</td>
                    <td>
                        <span class="badge bg-secondary">@user.Role</span>
                    </td>
                    <td>
                        <NavLink href="@($"/users/{user.Id}")" class="btn btn-primary btn-sm" title="View Details">
                            <i class="bi bi-eye"></i> Detail
                        </NavLink>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <NavLink class="btn btn-secondary btn-sm mx-1" title="Edit User" href='@($"/users/{user.Id}/edit")'>
                                    <i class="bi bi-pencil-fill"></i> Edit
                                </NavLink>
                                <button class="btn btn-danger btn-sm" @onclick="() => DeleteUser(user.Id)" title="Delete User">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        }

        else

        {
            <tr>
                <td colspan="4" class="text-center">No users found.</td>
            </tr>
        }
    </tbody>
</table>
