@page "/forms"
@using SharpForms.Common.Models.User

<PageTitle>Forms</PageTitle>

<h3>Forms List</h3>

<div class="d-flex align-items-center gap-3 mb-3">
    <!-- Search Bar -->
    <InputText @bind-Value="SearchQuery" class="form-control w-auto" placeholder="Search forms..." />

    <!-- Buttons -->
    <button class="btn btn-primary" @onclick="SearchForms">Search</button>
    @if (CurrentUser != null)
    {
        <NavLink class="btn btn-success" href="/forms/create">Create Form</NavLink>
    }
    
</div>


<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Form Name</th>
            <th>Creator</th>
            <th>Open From</th>
            <th>Open Until</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Forms.Any())

        {
            @foreach (var form in Forms)

            {
                <tr>
                    <td>@form.Name</td>
                    <td>@form.CreatorName</td>
                    <td>@(form.OpenSince?.ToString("yyyy-MM-dd") ?? "N/A")</td>
                    <td>@(form.OpenUntil?.ToString("yyyy-MM-dd") ?? "N/A")</td>
                    <td class="text-end">
                        <NavLink href="@($"/forms/{form.Id}/detail")" class="btn btn-primary btn-sm" title="View Details">
                            <i class="bi bi-eye"></i> Detail
                        </NavLink>
                        @if ((!form.OpenSince.HasValue || form.OpenSince.HasValue && form.OpenSince.Value.Date <= DateTime.Today) && 
                            (!form.OpenSince.HasValue || form.OpenUntil.HasValue && form.OpenUntil.Value.Date >= DateTime.Today))

                        {
                            <NavLink href="@($"/forms/{form.Id}/fill")" class="btn btn-primary btn-sm mx-1" title="Fill Form">
                                <i class="bi bi-pencil-fill"></i> Fill
                            </NavLink>
                        }
                        @if (CurrentUser != null && (form.CreatorName == CurrentUser.Name || CurrentUser.Role == Common.Enums.UserRole.Admin))

                        {
                            <NavLink href="@($"/forms/{form.Id}/edit")" class="btn btn-secondary btn-sm mx-1" title="Edit Form">
                                <i class="bi bi-pencil-fill"></i> Edit
                            </NavLink>
                        }
                    </td>
                </tr>
            }
        }

        else

        {
            <tr>
                <td colspan="5" class="text-center">Loading...</td>
            </tr>
        }
    </tbody>
</table>

